/*Styles for the home page*/
.bug-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollable-list {
    max-height: 78vh;
    margin-bottom: 5%;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

footer {
    bottom: 0;
}

.off-white-shade {
    background-color: #C0FDFB;
}