{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    </head>

    <body>
            <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-4">
                            <h3><strong class='bug-section-title'>Unstarted</strong></h3>
                            <ul class='list-group'>
                                {{ macro.displayBugInfo(unstarted)}}
                            </ul>
                        </div>
            
                        <div class="col-md-4">
                            <h3><strong class='bug-section-title'>Unstarted</strong></h3>
                            <ul class='list-group'>
                                {{ macro.displayBugInfo(inporgess)}}
                            </ul>
                        </div>
            
                        <div class="col-md-4">
                            <h3><strong class='bug-section-title'>Done</strong></h3>
                            <ul class='list-group'>
                                {{ macro.displayBugInfo(done)}}
                            </ul>
                        </div>
                    </div>
            
                </div>
    </body>

{% endblock %}